.light-theme {
  --bg-color: #fff;
  --txt-color: #2c3e50;
  --avatar-shadow: rgba(0, 0, 0, 0.8);
  --user-name-shadow: rgba(0, 0, 0, 0.5);
  --large-btn-shadow: rgba(0, 0, 0, 0.5);
  --large-btn-hover-shadow: rgba(0, 0, 0, 0.2);
  --switch-color: #000;
  --tabbar-active-color: #409eff;
  --tabbar-bg-color: #efefef
  --text-message-bg: #466AFB;
  --text-message-color: #fff;
}

.dark-theme {
  --bg-color: #292D32;
  --txt-color: #fff;
  --avatar-shadow: rgba(0, 0, 0, 0.8);
  --user-name-shadow: rgba(0, 0, 0, 0.5);
  --large-btn-shadow: rgba(0, 0, 0, 0.5);
  --large-btn-hover-shadow: rgba(0,0 0, 0.2);
  --switch-color: #000;
  --tabbar-active-color: #409eff;
  --tabbar-bg-color: #414850;
  --text-message-bg: #fff;
  --text-message-color: #2c3e50;
}