@font-face {
  font-family: "custom-icon"; /* Project id 4519359 */
  src: url('../fonts/iconfont.woff2?t=1714358501021') format('woff2'),
       url('../fonts/iconfont.woff?t=1714358501021') format('woff'),
       url('../fonts/iconfont.ttf?t=1714358501021') format('truetype');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-emoji:before {
  content: "\e60a";
}

.icon-create:before {
  content: "\e615";
}

.icon-enter:before {
  content: "\e64c";
}

.icon-search:before {
  content: "\e651";
}

.icon-add:before {
  content: "\e652";
}

.icon-dark:before {
  content: "\e781";
}

.icon-light:before {
  content: "\e769";
}